// Rename to eslint.config.mjs and install: eslint, typescript-eslint (if needed)
import eslint from '@eslint/js';
import tseslint from 'typescript-eslint';

export default tseslint.config(
  eslint.configs.recommended,
  ...tseslint.configs.recommended,
);
